web/WEB-INF/wsdl/localhost_8088/wsartistas.xsd_2.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://WebServices/" xmlns:ns1="http://jaxb.dev.java.net/array" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WebServices/">

<xs:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:8088/wsartistas?xsd=1"></xs:import>

<xs:complexType name="dataAlbumes">
<xs:sequence>
<xs:element name="albumes" type="tns:dtAlbum" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtAlbum">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nombreArtista" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="anio" type="xs:int"></xs:element>
<xs:element name="temas" type="tns:dtTema" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="generos" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="rutaImagen" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtTema">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="duracion" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="orden" type="xs:int"></xs:element>
<xs:element name="direccion" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="archivo" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nomartista" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nomalbum" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="archivobyte" type="xs:base64Binary" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataUsuarios">
<xs:sequence>
<xs:element name="usuarios" type="tns:dtUsuario" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtUsuario" abstract="true">
<xs:sequence>
<xs:element name="nickname" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="contrasenia" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="apellido" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="correo" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="fechaNac" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="rutaImagen" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataTemas">
<xs:sequence>
<xs:element name="temas" type="tns:dtTema" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtArtista">
<xs:complexContent>
<xs:extension base="tns:dtUsuario">
<xs:sequence>
<xs:element name="biografia" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="pagWeb" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="cantSeguidores" type="xs:int"></xs:element>
<xs:element name="nickSeguidores" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="albumes" type="tns:dtAlbum" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="hashMap">
<xs:complexContent>
<xs:extension base="tns:abstractMap">
<xs:sequence></xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="abstractMap" abstract="true">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="dataGeneros">
<xs:sequence>
<xs:element name="generos">
<xs:complexType>
<xs:sequence>
<xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="key" minOccurs="0" type="xs:string"></xs:element>
<xs:element name="value" minOccurs="0" type="tns:dtGenero"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtGenero">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="idpadre" type="xs:int"></xs:element>
<xs:element name="id" type="xs:int"></xs:element>
<xs:element name="albumes" type="tns:dtAlbum" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="listaspordefecto" type="tns:dtListaPD" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="hijos" type="tns:dtGenero" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtListaPD">
<xs:complexContent>
<xs:extension base="tns:dtLista">
<xs:sequence>
<xs:element name="Genero" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="dtLista" abstract="true">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="temas" type="tns:dtTema" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="rutaImagen" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtCliente">
<xs:complexContent>
<xs:extension base="tns:dtUsuario">
<xs:sequence>
<xs:element name="usuariosSeguidos" type="tns:dtUsuario" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="listas" type="tns:dtListaP" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="favListas" type="tns:dtLista" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="favTemas" type="tns:dtTema" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="favAlbumes" type="tns:dtAlbum" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="suscripciones" type="tns:dtSuscripcion" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="formato" type="tns:simpleDateFormat" minOccurs="0"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="dtListaP">
<xs:complexContent>
<xs:extension base="tns:dtLista">
<xs:sequence>
<xs:element name="Usuario" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="Privada" type="xs:boolean"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="dtSuscripcion">
<xs:sequence>
<xs:element name="id" type="xs:int"></xs:element>
<xs:element name="cliente" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="fecha" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="Estado" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="Tipo" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="Monto" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="simpleDateFormat">
<xs:complexContent>
<xs:extension base="tns:dateFormat">
<xs:sequence>
<xs:element name="2DigitYearStart" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="dateFormatSymbols" type="tns:dateFormatSymbols" minOccurs="0"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="dateFormat" abstract="true">
<xs:complexContent>
<xs:extension base="tns:format">
<xs:sequence>
<xs:element name="calendar" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="lenient" type="xs:boolean"></xs:element>
<xs:element name="numberFormat" type="tns:numberFormat" minOccurs="0"></xs:element>
<xs:element name="timeZone" type="tns:timeZone" minOccurs="0"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="format" abstract="true">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="dateFormatSymbols">
<xs:sequence>
<xs:element name="amPmStrings" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="eras" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="localPatternChars" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="months" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="shortMonths" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="shortWeekdays" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="weekdays" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="zoneStrings" type="ns1:stringArray" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="numberFormat" abstract="true">
<xs:complexContent>
<xs:extension base="tns:format">
<xs:sequence>
<xs:element name="currency" type="tns:currency" minOccurs="0"></xs:element>
<xs:element name="groupingUsed" type="xs:boolean"></xs:element>
<xs:element name="maximumFractionDigits" type="xs:int"></xs:element>
<xs:element name="maximumIntegerDigits" type="xs:int"></xs:element>
<xs:element name="minimumFractionDigits" type="xs:int"></xs:element>
<xs:element name="minimumIntegerDigits" type="xs:int"></xs:element>
<xs:element name="parseIntegerOnly" type="xs:boolean"></xs:element>
<xs:element name="roundingMode" type="tns:roundingMode" minOccurs="0"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="currency" final="extension restriction">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="timeZone" abstract="true">
<xs:sequence>
<xs:element name="ID" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="rawOffset" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataListas">
<xs:sequence>
<xs:element name="listas" type="tns:dtLista" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="roundingMode">
<xs:restriction base="xs:string">
<xs:enumeration value="UP"></xs:enumeration>
<xs:enumeration value="DOWN"></xs:enumeration>
<xs:enumeration value="CEILING"></xs:enumeration>
<xs:enumeration value="FLOOR"></xs:enumeration>
<xs:enumeration value="HALF_UP"></xs:enumeration>
<xs:enumeration value="HALF_DOWN"></xs:enumeration>
<xs:enumeration value="HALF_EVEN"></xs:enumeration>
<xs:enumeration value="UNNECESSARY"></xs:enumeration>
</xs:restriction>
</xs:simpleType>
</xs:schema>