web/WEB-INF/wsdl/localhost_8088/wsartistas.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebServices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebServices/" name="WSArtistasService">
<types>
<xsd:schema>
<xsd:import namespace="http://WebServices/" schemaLocation="http://localhost:8088/wsartistas?xsd=1"></xsd:import>
</xsd:schema>
</types>
<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebServices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebServices/" name="WSArtistasService">
<types>
<xsd:schema>
<xsd:import namespace="http://WebServices/" schemaLocation="http://localhost:8088/wsartistas?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="IngresarArtista">
<message name="listarSeguidores">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="listarSeguidoresResponse">
<part name="return" type="tns:dataUsuarios"></part>
</message>
<message name="ListarListaPD"></message>
<message name="ListarListaPDResponse">
<part name="return" type="tns:dataListas"></part>
<message name="listarSeguidoresResponse">
<part name="return" type="tns:dataUsuarios"></part>
</message>
<message name="ListarListaPD"></message>
<message name="ListarListaPDResponse">
<part name="return" type="tns:dataListas"></part>
</message>
<message name="ListarArtistas"></message>
<message name="ListarArtistasResponse">
<part name="return" type="tns:dataUsuarios"></part>
</message>
<message name="ElegirArtista">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="ElegirArtistaResponse">
<part name="return" type="tns:dtArtista"></part>
</message>
<message name="BuscarGenero">
<part name="arg0" type="xsd:string"></part>
</message>
</message>
<message name="listarTodosAlbumes"></message>
<message name="listarTodosAlbumesResponse">
<part name="return" type="tns:dataAlbumes"></part>
</message>
<message name="BuscarGenero">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="BuscarGeneroResponse">
<part name="return" type="tns:dataGeneros"></part>
</message>
<message name="ElegirArtista">
=======
<message name="BuscarGenero">















































































































































</operation>
<operation name="IngresarArtista" parameterOrder="arg0 arg1">
<input wsam:Action="http://WebServices/WSArtistas/IngresarArtistaRequest" message="tns:IngresarArtista"></input>
<output wsam:Action="http://WebServices/WSArtistas/IngresarArtistaResponse" message="tns:IngresarArtistaResponse"></output>
=======
</operation>
<operation name="verificarLoginArtista" parameterOrder="arg0 arg1">
<input wsam:Action="http://WebServices/WSArtistas/verificarLoginArtistaRequest" message="tns:verificarLoginArtista"></input>
<output wsam:Action="http://WebServices/WSArtistas/verificarLoginArtistaResponse" message="tns:verificarLoginArtistaResponse"></output>
</operation>
<operation name="RankingDesendente">
<input wsam:Action="http://WebServices/WSArtistas/RankingDesendenteRequest" message="tns:RankingDesendente"></input>
<output wsam:Action="http://WebServices/WSArtistas/RankingDesendenteResponse" message="tns:RankingDesendenteResponse"></output>
</operation>
<operation name="IngresarAlbumWeb" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5">
<input wsam:Action="http://WebServices/WSArtistas/IngresarAlbumWebRequest" message="tns:IngresarAlbumWeb"></input>
<output wsam:Action="http://WebServices/WSArtistas/IngresarAlbumWebResponse" message="tns:IngresarAlbumWebResponse"></output>
</operation>
<operation name="getListasGenero">
<input wsam:Action="http://WebServices/WSArtistas/getListasGeneroRequest" message="tns:getListasGenero"></input>
<output wsam:Action="http://WebServices/WSArtistas/getListasGeneroResponse" message="tns:getListasGeneroResponse"></output>
</operation>
<operation name="nuevaDescargaTema" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://WebServices/WSArtistas/nuevaDescargaTemaRequest" message="tns:nuevaDescargaTema"></input>
<output wsam:Action="http://WebServices/WSArtistas/nuevaDescargaTemaResponse" message="tns:nuevaDescargaTemaResponse"></output>
</operation>
<operation name="AgregarTemaListaWeb" parameterOrder="arg0 arg1 arg2 arg3 arg4">
<input wsam:Action="http://WebServices/WSArtistas/AgregarTemaListaWebRequest" message="tns:AgregarTemaListaWeb"></input>
<output wsam:Action="http://WebServices/WSArtistas/AgregarTemaListaWebResponse" message="tns:AgregarTemaListaWebResponse"></output>
</operation>
<operation name="getListasGenero">
<input wsam:Action="http://WebServices/WSArtistas/getListasGeneroRequest" message="tns:getListasGenero"></input>
<output wsam:Action="http://WebServices/WSArtistas/getListasGeneroResponse" message="tns:getListasGeneroResponse"></output>
</operation>
<operation name="ElegirAlbum" parameterOrder="arg0 arg1">
<input wsam:Action="http://WebServices/WSArtistas/ElegirAlbumRequest" message="tns:ElegirAlbum"></input>
<output wsam:Action="http://WebServices/WSArtistas/ElegirAlbumResponse" message="tns:ElegirAlbumResponse"></output>
</operation>
<operation name="listarTodosTemas">
<input wsam:Action="http://WebServices/WSArtistas/listarTodosTemasRequest" message="tns:listarTodosTemas"></input>
<output wsam:Action="http://WebServices/WSArtistas/listarTodosTemasResponse" message="tns:listarTodosTemasResponse"></output>
</operation>
<operation name="estaAlbum" parameterOrder="arg0 arg1">
<input wsam:Action="http://WebServices/WSArtistas/estaAlbumRequest" message="tns:estaAlbum"></input>
<output wsam:Action="http://WebServices/WSArtistas/estaAlbumResponse" message="tns:estaAlbumResponse"></output>
</operation>

<input wsam:Action="http://WebServices/WSArtistas/verificarDatosArtRequest" message="tns:verificarDatosArt"></input>
<output wsam:Action="http://WebServices/WSArtistas/verificarDatosArtResponse" message="tns:verificarDatosArtResponse"></output>
</operation>
</portType>
<binding name="WSArtistasPortBinding" type="tns:WSArtistas">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>










<operation name="RankingDesendente">
<input wsam:Action="http://WebServices/WSArtistas/RankingDesendenteRequest" message="tns:RankingDesendente"></input>
<output wsam:Action="http://WebServices/WSArtistas/RankingDesendenteResponse" message="tns:RankingDesendenteResponse"></output>
</operation>
<operation name="IngresarAlbumWeb" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5">
<input wsam:Action="http://WebServices/WSArtistas/IngresarAlbumWebRequest" message="tns:IngresarAlbumWeb"></input>
<output wsam:Action="http://WebServices/WSArtistas/IngresarAlbumWebResponse" message="tns:IngresarAlbumWebResponse"></output>
</operation>
<operation name="getListasGenero">
<input wsam:Action="http://WebServices/WSArtistas/getListasGeneroRequest" message="tns:getListasGenero"></input>
<output wsam:Action="http://WebServices/WSArtistas/getListasGeneroResponse" message="tns:getListasGeneroResponse"></output>
</operation>
<operation name="nuevaDescargaTema" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://WebServices/WSArtistas/nuevaDescargaTemaRequest" message="tns:nuevaDescargaTema"></input>
<output wsam:Action="http://WebServices/WSArtistas/nuevaDescargaTemaResponse" message="tns:nuevaDescargaTemaResponse"></output>
</operation>
<operation name="AgregarTemaListaWeb" parameterOrder="arg0 arg1 arg2 arg3 arg4">
<input wsam:Action="http://WebServices/WSArtistas/AgregarTemaListaWebRequest" message="tns:AgregarTemaListaWeb"></input>
<output wsam:Action="http://WebServices/WSArtistas/AgregarTemaListaWebResponse" message="tns:AgregarTemaListaWebResponse"></output>
</operation>
<operation name="getListasGenero">
<input wsam:Action="http://WebServices/WSArtistas/getListasGeneroRequest" message="tns:getListasGenero"></input>
<output wsam:Action="http://WebServices/WSArtistas/getListasGeneroResponse" message="tns:getListasGeneroResponse"></output>
</operation>
<operation name="ElegirAlbum" parameterOrder="arg0 arg1">
<input wsam:Action="http://WebServices/WSArtistas/ElegirAlbumRequest" message="tns:ElegirAlbum"></input>
<output wsam:Action="http://WebServices/WSArtistas/ElegirAlbumResponse" message="tns:ElegirAlbumResponse"></output>
</operation>
<operation name="listarTodosTemas">
<input wsam:Action="http://WebServices/WSArtistas/listarTodosTemasRequest" message="tns:listarTodosTemas"></input>
<output wsam:Action="http://WebServices/WSArtistas/listarTodosTemasResponse" message="tns:listarTodosTemasResponse"></output>
</operation>
<operation name="estaAlbum" parameterOrder="arg0 arg1">
<input wsam:Action="http://WebServices/WSArtistas/estaAlbumRequest" message="tns:estaAlbum"></input>
<output wsam:Action="http://WebServices/WSArtistas/estaAlbumResponse" message="tns:estaAlbumResponse"></output>
</operation>
<operation name="GetDataGeneros">
<input wsam:Action="http://WebServices/WSArtistas/GetDataGenerosRequest" message="tns:GetDataGeneros"></input>
<output wsam:Action="http://WebServices/WSArtistas/GetDataGenerosResponse" message="tns:GetDataGenerosResponse"></output>
</operation>
<operation name="verificarDatosArt" parameterOrder="arg0 arg1">
<input wsam:Action="http://WebServices/WSArtistas/verificarDatosArtRequest" message="tns:verificarDatosArt"></input>
<output wsam:Action="http://WebServices/WSArtistas/verificarDatosArtResponse" message="tns:verificarDatosArtResponse"></output>
</operation>
</portType>
<binding name="WSArtistasPortBinding" type="tns:WSArtistas">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>









<operation name="listarSeguidores">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="ListarListaPD">















































<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
=======

<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
</binding>
<service name="WSArtistasService">
<port name="WSArtistasPort" binding="tns:WSArtistasPortBinding">
<soap:address location="http://localhost:8088/wsartistas"></soap:address>
</port>
</service>
</definitions>
